.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:rgb(254, 234, 233);
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #FF5B9B 0%, #FF136F 100%);
}